In [19]:
import requests

url = "https://ner-food-ctgsi4wqxa-ew.a.run.app/"
params = {"text":"2 glasses fanta, 2 cesars salad and 1 schnitzel and chocolates and milks"}

In [20]:
response = requests.get(url,params).json()

In [21]:
import pandas as pd
pd.DataFrame(response)

,food,food_start,food_end,quantity,quantity_start,quantity_end,unit,unit_start,unit_end
0,Fanta,9,15,2,0,1,glasses,1,9
1,Cesars salad,18,31,2,16,18,-1,-1,-1
2,Schnitzel,37,47,1,35,37,-1,-1,-1
3,Chocolates,51,62,-1,-1,-1,-1,-1,-1
4,Milk,66,71,-1,-1,-1,-1,-1,-1