In [31]:
import requests

url = " http://127.0.0.1:8000"#"https://ner-food-ctgsi4wqxa-ew.a.run.app/"
params = {"text":"2 cesars salad and 1 schnitzel and chocolates and milks 2 glasses fanta"}

In [36]:
response = requests.get(url,params).json()

In [37]:
import pandas as pd
pd.DataFrame(response)

,name,name_start,name_end,amount,amount_start,amount_end,unit,unit_start,unit_end,matched_name,matched_amount,matched_unit,matched_calories,matched_carbs,matched_protein,matched_fat
0,Cesars salad,1.0,14.0,2,0.0,1.0,-1,-1.0,-1.0,cesar salad,5.0,oz,160.0,8.0,4.0,12.0
1,Schnitzel,20.0,30.0,1,18.0,20.0,-1,-1.0,-1.0,schnitzel,200.0,g,376.0,12.0,40.0,18.0
2,Chocolates,34.0,45.0,-1,-1.0,-1.0,-1,-1.0,-1.0,chocolate,1.0,tbsp,13.0,2.0,0.0,1.0
3,Milk,49.0,54.0,2,55.0,57.0,glasses,57.0,65.0,milk,2.0,cup,180.0,26.0,16.0,0.0
4,Fanta,65.0,71.0,-1,-1.0,-1.0,-1,-1.0,-1.0,fanta,12.0,oz,102.0,24.0,0.0,0.0